@media (min-width:576px){
  .sticky-header{display:block;}
}
@media (min-width:768px){
  .hr{margin:1rem auto 2rem;}
  h1{font-size:2.471em;line-height:1.2em;}
  h2{font-size:2.294em;line-height:1.2em;}
  h3{font-size:1.882em;line-height:1.2em;}
  h4{font-size:1.529em;line-height:1.2em;}
  h5{font-size:1.118em;line-height:1.35em;}
}
@media (min-width:992px){
  #wrapper{padding-top:0;}
  .back-to-top{right:0;font-size:.675em;}
  .entry-wraper,
  .entry-header,
  .single-comment{max-width:800px;margin:0 auto;}
  .latest-tpl-4 .post-count{display:block;}
  .latest-tpl-4 .post-content{margin-left:15px;}
}
@media (min-width:1200px){

  /*slide template 1*/
}

/*Max width*/
