/***
Styling for widgets
  Full slider
  Latest posts
  Ads
  Search
***/
.widget-title{text-transform:uppercase;position:relative;line-height:1;}
.post-has-bg{background:var(--light-background);margin-bottom:2rem;}
.post-has-bg figure{margin:0;}
.post-has-bg .entry-content{padding:1rem;}

/*Widget Full slider*/

/*Widget Lastest Post Template 1*/

/*Widget Lastest Post Template 2*/

/*Widget Lastest Post Template 3*/

/*Widget Lastest Post Template 4*/
.latest-tpl-4 ol{margin:-5px 0 0 0;padding:0;}
.latest-tpl-4 .post-content{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;margin-left:0;}
.latest-tpl-4 .entry-title{margin:0 0 .5em 0;}
.latest-tpl-4 .post-count{font-size:1.7em;line-height:1;color: var(--accent);fill: var(--accent);padding-top:5px;display:none;}
.latest-tpl-4 li{margin-bottom:1.2em;}

/*Widget Lastest Post Template 6*/

/*Widget Lastest Post Template 7*/

/*Widget Post slide style 1*/

/*Widget Ads*/
.ads{text-align:center;}
.ads img{display:inline;}


/* SEARCH-WIDGET */

/*Twitter*/

/*post-list-style-2*/
